@import "../../app.scss";

.Contact {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        border-radius: 5px;

        &:focus {
          outline: none;
          border-color: orange;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .Contact {
    flex-wrap: wrap !important;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  .textContainer,
  .formContainer {
    flex-wrap: wrap;
    gap: 20px !important;
    width: 80%;
  }
  .Contact .formContainer form input {
    padding: 10px;
  }
  .Contact .formContainer form textarea {
    padding: 0px;
  }
}
@media screen and (max-width: 700px) {
  .Contact {
    flex-wrap: wrap !important;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    gap: 30px;
  }
  h2,
  .Contact .textContainer span {
    position: relative;
    left: 10%;
  }
}
@media screen and (max-width: 460px) {
  .Contact {
    flex-wrap: wrap !important;
    height: auto !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 20% !important;
    gap: 10px !important;
  }
  h2,
  .Contact .textContainer span {
    position: relative !important;
    left: 5% !important ;
  }
}
